@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #101628;
    font-family: 'Press Start 2P', cursive;
}

div.answered .correct {
    color: green;
} 
div.answered .incorrect {
    color: red;
}
.h1__winner {
    font-family: 'Press Start 2P', cursive;
}

.question__container {
    width: 50%;
    margin: 30px auto;
    text-align: center;
}

.question__container p.trivia__question {
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 3px;
    /* font-size: 20px; */
    color: #fff;
    background: #FE533D;
}

.question__container form.answers {
    display: flex;
    justify-content: center;
}

form.answers label {
    margin: 0 10px;
    padding: 10px;
    border-radius: 3px;
    background: #FE533D;
    color: #fff;
    /* font-size: 20px; */
}

.question__container div img.zues {
    height: 300px;
    width: 300px;
    border-radius: 3px;
}

footer {
    /* height: 100px; */
    background: #AC987B;
    padding: 100px;
}

