@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
* {
    font-family: 'Press Start 2P', cursive;
}


body {
    background: #132f41;
}

.section__victory {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.answered .correct {
    color: green;
}

div.answered .incorrect {
    color: red;
}

.section__victory {
    background-image: url('./img/Olympus2.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.h1__winner {
    text-align: center;
    animation: blinkingText 0.8s infinite;
    margin: 8rem 0 3rem 0;
}

.section__wide-scroll {
    width: 30%;
    height: 300px;
    background-image: url('./img/wide-scroll.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.p__credits {
    width: 75%;
    margin: 0 auto;
    padding: 3rem 0;
    line-height: 1.5;
}

.button__play-again {
    margin: 3rem 0 0 0;
    padding: 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    background-color: #409edb;
    color: #fff;
    border: 2px solid #000;
}

.button__play-again:hover {
    background-color: #337eaf;
}

.timer__container {
    display: flex;
    justify-content: space-between;
    align-content: center;
}



.section__game-over {
    position: absolute;
    top: 15rem;
    right: 20rem;
    animation: blinkingText 0.8s infinite;
    font-size: 300%;
}

.battle__container {
    height: 100vh;
    width: 100%;
}

.battle__img__bg {
    height: 100%; 
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.question__container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.question__container {
    margin: 22rem auto 0 auto;
    width: 90%;
    text-align: center;
    background: url(./img/wide-scroll.png);
    background-size: 100% 100%;
    opacity: 0.8;
    background-position: center center;
    background-repeat: no-repeat;
    height: 30vh;
}

.question__container p.trivia__question {
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 3px;
    color: #fff;
    background: #FE533D;
    margin: 5% 15% 1% 15%;
}

.question__container section.answers {
    display: flex;
    justify-content: center;
}

section.answers button {
    margin: 0 10px;
    padding: 10px;
    border-radius: 3px;
    background: #FE533D;
    color: #fff;
    border: none;
}

.intro_container {
    background: url(./img/Intro.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1__title {
    color: #fff;
    font-size: 300%;
    padding: 10rem 0 2rem 0;
    text-align: center;
}

.intro_container p.intro_text {
    color: #fff;
    width: 80%;
    line-height: 1.5;
    text-align: justify;
}

.button__play {
    margin: 3rem 0 0 0;
    padding: 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    background-color: #409edb;
    color: #fff;
    border: 2px solid #000;
    width: 10%;
}

.button__play:hover {
    background-color: #337eaf;
}

@keyframes blinkingText {

    0% { color: #F83800; }
    30% { color: #3CBCFC; }
    50% { color: #007800; }
    70% { color:#F83800; }
    100% { color: #3CBCFC; }
}

.map__canvas {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.img__container {
    display: flex;
    flex-direction: column;
}


.story__container {
    background: url("./img/wide-scroll-rotate.png");
    background-size: 82%;
    width: 475px;
    height: 575px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.story__container .story {
    padding: 15% 24%;
    width: 300px;
    height: 340px;
    line-height: 1.5;
}

.story__container button.fight {
    position: absolute;
    bottom: 75px;
    left: 190px;
    text-transform: uppercase;
    background-color: #409edb;
    color: #fff;
    border: 2px solid #000;
    border-radius: 3px;
    padding: 10px;
}

.story__container button.fight:hover {
    cursor: pointer;
}

.bottom__map--nav {
    display: flex;
    justify-content: space-between;
}

section .button__info, .button__instructions {
    margin-left: 5px;
}

.button__intro {
    padding: 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    background-color: #409edb;
    color: #fff;
    border: 2px solid #000;
    width: 10%;
    justify-self: flex-end;
    margin-right: 12px;
}

.button__info {
    padding: 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    background-color: #409edb;
    color: #fff;
    border: 2px solid #000;
    /* width: 10%; */
}

.button__instructions {
    padding: 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    background-color: #409edb;
    color: #fff;
    border: 2px solid #000;
    /* width: 10%; */
}

#canvas {
    background-image: url('/public/img/map.png');
    height: 600px;
    width: 800px;
    margin: .5%;
    object-fit: fill;
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
}


.section__health {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 30px;
    padding-top: 2%;
}

.img__heart {
    width: 2rem;
    height: 2rem;
}

.section__instructions {
    background: url('./img/wide-scroll.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 900px;
    width: 1090px;
    /* margin: 0 0 0 200px; */
    margin: 0 auto;
}

.instructions__container {
    width: 700px;
    height: 300px;
    padding: 75px 0 0 170px;
    position: relative;
}

.instructions__container h1 {
    text-align: center;
}

.instructions__container button {
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 0.25rem;
    cursor: pointer;
    background-color: #409edb;
    color: #fff;
    border: 2px solid #000;
    position: absolute;
    left: 460px;
}
