@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
* {
    font-family: 'Press Start 2P', cursive;
}

.section__victory {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background: #101628;
    font-family: 'Press Start 2P', cursive;
}

div.answered .correct {
    color: green;
}

div.answered .incorrect {
    color: red;
}

.h1__winner {
    text-align: center;
    animation: blinkingText 0.8s infinite;
    margin: 10rem;
}

.button__play-again {
    padding: 1rem;
    border-radius: 0.25rem;
}

.question__container {
    width: 50%;
    margin: 30px auto;
    text-align: center;
}

.question__container p.trivia__question {
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 3px;
    /* font-size: 20px; */
    color: #fff;
    background: #FE533D;
}

.question__container section.answers {
    display: flex;
    justify-content: center;
}

section.answers button {
    margin: 0 10px;
    padding: 10px;
    border-radius: 3px;
    background: #FE533D;
    color: #fff;
    border: none;
    /* font-size: 20px; */
}

.question__container div img.zues {
    height: 300px;
    width: 300px;
    border-radius: 3px;
}

footer {
    /* height: 100px; */
    background: #AC987B;
    padding: 100px;
}


/* Intro Component */


/* .intro_container {
    background: url(./img/underground.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
} */

.intro_container p.intro_text {
    color: #fff;
}

@keyframes blinkingText {

    0% { color: #F83800; }
    30% { color: #3CBCFC; }
    50% { color: #007800; }
    70% { color:#F83800; }
    100% { color: #3CBCFC; }
}

/* canvas {
    background-image: url('/public/img/map.png');
} */

canvas {
    background-image: url('/public/img/map.png');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 1%;
    display: block;
}

.section__health {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.img__heart {
    width: 3rem;
    height: 3rem;
}